.login {

    form {
        color: white;
        display: flex;
        flex-direction: column;
        width: 50%;

        h1 {
            margin-bottom: 1rem;
        }

        .input-fields {
            display: flex;
            flex-direction: column;
            width: 70%;
            
            input {
            background-color: white;
            outline: none;
            border: none;
            height: 2rem;
            border-radius: 0.25rem;
            padding: 0 1rem;
            margin-bottom: 1rem;
            font-size: 0.8rem;
            }
        }
    }
}