.loading-section {
    display: flex;
    justify-content: center;
    margin-right: 1rem;

    img {
        margin-top: 1rem;
        width: 5rem;
    }
}

.small-loader { 
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    img {
        width: 1.6rem;
    }
}

.button-loading {
    width: 1rem;
}