.login {

    form {
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;

        .body {

          .input-fields {
              display: flex;
              flex-direction: column;
              width: 70%;
              
              input {
              background-color: rgb(255, 255, 255);
              outline: none;
              border: none;
              height: 2rem;
              border-radius: 0.25rem;
              padding: 0 1rem;
              margin-bottom: 1rem;
              font-size: 0.8rem;
            }
          }
        }
    }
}