.facilities {
    .each-facility {
        width: 50%;
        display: flex;
        color: white;
        background-color: #5c15a3;
        border: #8127db solid 1px;
        border-radius: 0.25rem;
        height: 3rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        cursor: pointer;
        transition: 0.3s !important;
        text-decoration: none;
    }
    .each-facility:hover {
        color: white;
        background-color: #8223e0;
    }
}