.single-facility-section {
    margin-right: 1rem;
    
    .facility-heading {
        color: white;
        display: flex;
        flex-direction: column;
        border-bottom: solid white 2px;
        padding-bottom: 1rem;

        .name-and-favorite {
            display: flex;
            align-items: center;

            svg {
                font-size: 1.4rem;
                margin-top: 0.4rem;
                margin-left: 1rem;
                cursor: pointer;
                transition: 0.4s;
            }
            .favorite {
                color: red;
            }

            .favorite-id {
                color: white !important;
            }
        }
    }

    .facility-info {
        width: 20rem;
        background-color: #8223e0;
        color: white;
        margin-top: 2rem;
        border-radius: 0.25rem 0.25rem 0rem 0rem;
        padding: 1rem 0 1.5rem 0;

        .each-info-row {
            display: flex;
            margin: 0.7rem 1rem;

            svg {
                width: 2rem;
                margin-right: 1rem;
            }

            p {
                font-size: 0.9rem;
            }

            #description {
                margin-top: 2rem;
                margin-left: 0.5rem;
                border-top: white solid 1px;
                padding-top: 1.5rem;
                font-size: 0.8rem;
            }
        }
    }
}



