.facilities {
    .each-facility {
        width: 50%;
        display: flex;
        color: white;
        background-color: #5c15a3;
        border: #8127db solid 1px;
        border-radius: 0.25rem;
        height: 3rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.3s !important;
        text-decoration: none;

        p {
            margin-left: 1.5rem;
        }

        svg {
            margin-right: 1.5rem;
        }
    }

    @media screen and (max-width: 1175px) {
        .each-facility  {
            width: 100%;
        }
    }
    
    .each-facility:hover {
        color: white;
        background-color: #8223e0;
    }
}