.main-app-page {
    height: 100vh;
    width: 100%;

    .content-section {
        width: calc(100% - 19rem);
        height: calc(100% - 1.7rem);
        margin-left: 19rem;
        margin-top: 1rem;
        overflow: scroll;

        .component-content-section {
            margin-top: 4rem;
            margin-left: 1rem;
            position: relative;
        }
    }
}