.top-border {
    height: 0.7rem;
    width: 100%;
    background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff), ;
    animation: rotate 10s linear infinite;
    filter: blur(20px)
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(-360deg)
    }
}


.header-section {
    width: calc(100% - 19rem);
    height: 4rem;
    background-color: #210340;
    position: fixed;
    top: 0.6;
    z-index: 10;
    margin-left: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 35rem;
        
        a {
            color: white;
            text-decoration: none;
            cursor: pointer;
    
            li {
                color: white;
            }
        }
        .active {
            font-weight: bold;
            transition: 0.2s;
        }
    }
}

.sidebar-section {
    width: 19rem;
    height: 100%;
    background-color: #210340;
    position: fixed;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar-header {
        margin: 0;
        height: 4rem;
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 1.2rem;
        color: white;
        position: relative;

        h1 {
            z-index: 3;
            cursor: pointer;
        }

        img {
            width: 3.2rem;
            position: absolute;
            z-index: 2;
            right: 3.3rem;
            top: 0.5rem;
        }
    }

    .time-info-section {
        color: white;
        margin-left: 2.1rem;
        display: flex;

        p {
            margin-right: 0.4rem;
            font-size: 0.9rem;
            font-weight: bold;
        }

        p:last-child {
            font-weight: normal;
        }
    }

    .open-bookings-section {
        margin-top: 4rem;
        margin-left: 2rem;

        h4 {
            color: white;
        }

        .open-bookings-container {
            width: 15rem;
            height: 20rem;
            overflow-y: scroll;
            background-color: #360568;
            margin-top: 0.7rem;
            border: #6221a2 solid 1px;
            border-radius: 0.25rem;

            ul {
                list-style: none;
                color: white;
                margin: 0.5rem;
                position: relative;

                li {
                    height: 4rem;
                    width: 99%;
                    background-color: #6d30ab;
                    margin-bottom: 0.7rem;
                    border: #924ada solid 1px;
                    border-radius: 0.25rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;

                    button {
                        margin: 0 0.4rem 0.4rem 0;
                        width: 3.5rem;
                        height: 1.2rem;
                        border-radius: 0.25rem;
                        border: none;
                        color: white;
                        background-color: green;
                        font-size: 0.7rem;
                        outline: none;
                        cursor: pointer;
                        transition: 0.3s;
                    }

                    button:hover {
                        background-color: #00c600;
                    }
                }
            }
        }
    }

    .profile-section {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        margin: 0 2rem 3rem 2rem;
        color: white;

        .avatar {
            border-radius: 60%;
        }

        p {
            font-size: 0.9rem;
        }

        svg {
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-top: 0.2rem;
        }
        
        div:last-child {
            display: flex;
            align-items: center;
            margin-left: 2rem;
        }
    }
}